<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Document</title>

</head>
<body>
    <button onclick="getpdf()"> cliccami per scaricare la fattura </button>
    <script>
           
           function getpdf2(){

            window.open('/info-pdf');

           }
       function getpdf(){
       
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
           console.log("fatto")
           getpdf2()
    };
    xhttp.open("POST", '/info-pdf', false);
    var prova = {test : "test" }
    xhttp.send(JSON.parse(JSON.stringify(prova)));
 }  
        
    </script>
</body>
</html>