<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just get Credential</title>
    <link rel="stylesheet" href="templates/challenge/just_get_credential.css">
</head>
<body>
    <div class="login-page">
        <p class="welcome">Entra ora!</p>
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <button id="btn_login" onclick="login_check()">login</button>
            <p class="message">
              Hai dimenticato la password? <a href="#">Non ci interessa!</a>
            </p>
          </form>
        </div>
      </div>
</body>
<script src="templates/challenge/just_get_credential.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</html>
