<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Flagify</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/login_2/fonts/ionicons.min.css">
    <link rel="stylesheet" href="templates/login_2/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">Flagify</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Scoreboard</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Challenges</a></li>
        </div>
                </li>
            </ul><span class="navbar-text actions"><a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a></span></div>
    </div>
</nav><div class="login-dark">
    <form method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group mb-3"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
        <div class="form-group mb-3"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
        <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</div>
    <script src="templates/login_2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>