<!DOCTYPE html>
<html>
  <head>
    <title>Sito vuoto</title>
    <!-- E invece no, ecco la prima parte della flag: "flag{you_" -->
    <link rel="stylesheet" href="templates/challenge/sito_vuoto/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet"/>
    <script src="templates/challenge/sito_vuoto/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>SITO VUOTO</h1>
    <div class="main-content">
      <div class="agile-tb">QUESTO SITO È VUOTO</div>
    </div>
  </body>
</html>
