<!DOCTYPE html>
<html lang="it">
<head>
    <title>Esercitazione 1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body class="text-center">
    <h1>First HTML page</h1>
    <a class="btn btn-primary btn-lg" target="_blank" href="./login/index.html">
        Login
    </a>
    <a class="btn btn-primary btn-lg" href="./Registration/index.html">
        Registrazione
    </a>
</body>
</html>