<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <hr/>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Riuscirai a trovarmi?</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
    <div class="col-12 d-flex justify-content-center">
        <img src="robots-meme.jpg" alt="robots_meme">
    </div>
    </div>
</body>
</html>
